// COLORS
$main-color: #fce205;
$contrast-color: #ffffff;
$text-color: #1d1d1b;
$gray-color: #818a91;

// Obtenemos la Fuente de Nuestros Recursos y lo Nombramos
@font-face{
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Unica';
  src: url('../fonts/UnicaOne-Regular.ttf');
  font-weight: normal;
}

// Declaramos la Variable de la Fuente
$font-family: 'Mulish', sans-serif !important;
$font-family-secondary: 'Unica', sans-serif !important;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}

p, a, span, button, input, textarea, label, select {
  font-family: $font-family;
  font-size: 1.8vmin;

  @media(max-width: 797px) {
    font-size: 14px;
  }
}